<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test1">
  <parameter name="userName" value="Admin"></parameter>
  <parameter name="password" value="admin123"></parameter>
    <classes>
      <class name="TestPkg.DemoParametersXML"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="1" name="Test2">
  <parameter name="userName" value="ztest"></parameter>
  <parameter name="password" value="ajay123"></parameter>
    <classes>
      <class name="TestPkg.DemoParametersXML"/>
    </classes>
  </test>
</suite> <!-- Suite -->
